* {
    text-rendering: geometricPrecision;
    transition: 0.2s ease-in-out;
}

:root {
    --yellow: rgb(255, 150, 0);
    --light-yellow: #ffc107;
    --dark-yellow: rgb(205, 100, 0);
    --trans-yellow: rgb(255, 150, 0, 0.3);
    --red: rgb(200, 70, 70);
    --dark-red: rgb(150, 20, 20);
    --light-red: rgb(250, 120, 120);
    --trans-black: rgb(0, 0, 0, 0.6);
}

@font-face {
    font-family: broadway;
    src: url(./fonts/BROADW.TTF);
}

body {
    background-image: url(./imgs/pizza.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 425px) {
    body {
        background-image: url(./imgs/pizza2.jpg);
    }
}

br {
    margin: 0;
}

#dim {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.2);
}

.blur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}

#navbar {
    background-color: var(--trans-black);
    padding: 10px !important;
}

#logo-text {
    color: var(--yellow);
    font-family: broadway;
    font-size: 30px;
}

#nav-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.ul-link {
    margin: auto 0;
}

.ul-link a {
    color: var(--red);
    margin-left: 2vw;
    font-weight: bold;
    text-decoration: none;
}

.ul-link a:hover {
    color: var(--light-red);
}

#nav-cta {
    background-color: var(--light-yellow);
    padding: 2px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid var(--dark-red);
}

#nav-cta a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#nav-cta:hover,
.stack-btn:hover,
#why div a:hover {
    background-color: var(--yellow);
}

@media screen and (max-width: 719px) {
    #logo-text {
        margin: auto;
    }

    #nav-cont {
        width: 100%;
        margin: 0 20px;
    }

    #nav-ul {
        padding: 0;
    }

    .ul-link a {
        margin-left: 0;
    }
}

@media screen and (max-width: 390px) {
    #nav-cont {
        margin: 0;
    }
}

#intro {
    text-align: center;
    width: 90%;
    padding: 5px;
    margin: auto;
    background-color: var(--trans-black);
    border-radius: 5px;
}

#intro hr {
    margin: 10px;
    border: 2px solid white;
}

#ques {
    font-size: 5vw;
    color: var(--yellow);
}

#ans {
    font-size: 5.5vw;
    color: var(--red);
}

#why {
    text-align: center;
    width: 95%;
}

#why div {
    background-color: var(--yellow);
    margin: 0 5px;
    border-radius: 5px;
}

#why .head {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    font-size: 20px;
    font-weight: bolder;
    padding: 3px;
}

#why .info {
    font-weight: 350;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

#why div {
    padding: 5px;
}

#why div a {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-red);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark-red);
}

.stack-btn:active,
#why div a:active {
    background-color: var(--dark-yellow);
}

@media screen and (max-width: 766px) {
    #why div {
        margin: 5px 0;
    }
}

#stacks {
    text-align: center;
    background-color: var(--trans-black);
    padding: 0 10px 10px 10px;
    width: 75%;
    margin: auto;
    border-radius: 5px;
}

#stacks .head {
    background-color: var(--red);
    margin: auto;
    width: 90%;
    font-size: 25px;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
}

/* 565px */
@media screen and (max-width: 565px) {
    #stacks .head {
        font-size: 15px;
    }
}

#cStacks {
    width: 57.4vw;
    margin: auto;
}

#cStacks img {
    width: 40vw;
}

#stacks [type='button'] {
    background-color: var(--trans-yellow);
}

#stacks [type="button"]:first-child {
    border-radius: 5px 0 0 5px;
}

#stacks [type="button"]:nth-child(2) {
    border-radius: 0 5px 5px 0;
}

#cStacks .carousel-caption {
    background-color: var(--trans-black);
    padding: 1.5vw;
}

.stack-info {
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.stack-info .name {
    font-size: 2vw;
    color: var(--light-yellow);
    font-weight: bold;
}

.price {
    font-size: 1.5vw;
}

.stack-btn {
    font-size: 1.5vw;
}

.stack-btn {
    background-color: var(--light-yellow);
    color: var(--dark-red);
    border: 2px solid var(--dark-red);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 720px) {
    #stacks {
        width: 90%;
    }
}

#ratings {
    background-color: var(--trans-black);
    margin: auto;
    padding: 0 5px 5px 5px;
    width: 95%;
    border-radius: 5px;
    text-align: center;
}

#ratings .head {
    background-color: var(--red);
    width: 90%;
    margin: auto;
    border-radius: 0 0 5px 5px;
    font-size: 25px;
    font-weight: bold;
}

#ratings-inner {
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
}

.rating {
    background-color: var(--yellow) !important;
    margin: 0 5px;
    width: 30vw;
    min-width: 300px;
}

.rating .card-header {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    text-align: center;
}

.user-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 100%;
    margin: auto 0;
    background-color: white;
    border: 2px solid black;
}

.user p {
    margin: auto 0 auto 10px;
    max-width: 300px;
    font-weight: bold;
}

.rating .card-body {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.rating .card-body div {
    font-weight: 600;
}

.star {
    background-color: var(--trans-black);
    text-align: center;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

.star svg {
    width: 25px;
}

.full-star {
    fill: gold;
}

.empt-star {
    opacity: 0.5;
}

#footer {
    background-color: var(--trans-black);
    padding: 10px;
}

#footer hr {
    border: 1px solid white;
    width: 90%;
    margin: 10px auto;
}

#foot-sec1 {
    display: flex;
    justify-content: space-between;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    max-width: 800px;
}

@media screen and (max-width: 725px) {
    #footer-links {
        display: block;
    }
}

#footer-links div {
    text-align: center;
}

#footer-links a {
    color: var(--light-red);
    font-size: 20px;
    text-decoration: none;
    padding: 0;
}

#footer-links a:hover {
    text-decoration: underline;
}

#social-links {
    width: 30%;
    display: flex;
    justify-content: center;
}

#social-links a {
    margin: auto 10px;
}

#social-links svg {
    width: 30px;
    fill: white;
    cursor: pointer;
}

#social-links svg:hover {
    fill: var(--light-yellow);
}

#social-links a:last-child {
    margin-left: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

#footer #end {
    text-align: center;
}

#footer #end div {
    color: var(--light-yellow);
    margin: auto;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-yellow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

::-webkit-scrollbar-track {
    background-color: rgb(100, 50, 0);
}